<!DOCTYPE html>
<html>
<head>
  <title>GoalsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>

<% if signed_in? %>
  <h1>Welcome <%= current_user.username %></h1>
<% end %>


<%= yield %>

</body>
</html>
